/* background */
/* $c-accent-bg: rgba(201, 70, 50, 0.9); */
/* text */
/* modals */
/* font */
/* container width */
/* animation */
html {
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Proxima Nova", sans-serif;
  color: #303135;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #f3f0f0;
  margin: 0 auto;
  overflow-y: scroll;
}

/* COMMON */
.tablet-element {
  display: none;
}

.desktop-element {
  display: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

svg {
  cursor: pointer;
}

.container {
  margin-right: auto;
  margin-left: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

main {
  padding-top: 50px;
}

section {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 35%;
}

h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 110%;
  text-transform: uppercase;
  color: #c94632;
}

h2 {
  font-weight: 700;
  font-size: 22px;
  line-height: 110%;
  text-transform: uppercase;
  color: #c94632;
  padding-left: 10px;
}

/* TEAM LIST PAGE */
.teamlist-main-container {
  padding-top: 70px;
}

.trainers-margin {
  margin-bottom: 0;
}

.trainers-heading {
  padding: 0 10px;
}

.trainers-section {
  padding: 0 10px 50px;
}

.trainers-section-bg {
  background-color: #151515;
}

.players-section {
  padding: 70px 0 170px;
  margin-bottom: 0%;
}

.players-section-margin {
  background-color: #191818;
  margin-bottom: 0;
}

.trainers-section-h1 {
  margin-top: 0;
  margin-bottom: 70px;
}

.coach-assistants-dt-wrapper {
  padding-top: 55px;
}

.main-coach-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-bottom: 70px;
  padding: 0 19%;
}

.main-coach-header-wrapper {
  text-align: center;
  margin-bottom: 30px;
}

.main-coach-img-wrapper {
  width: 100%;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  padding-bottom: 100%;
  margin-bottom: 20px;
}

.main-coach-h2 {
  color: #f3f0f0;
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 0;
}

.main-coach-name {
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  line-height: 120%;
  margin-top: 0;
  margin-bottom: 0;
}

.main-coach-img {
  width: 100%;
}

.main-coach-info {
  font-weight: 600;
  font-size: 15px;
  line-height: 120%;
  color: rgba(255, 255, 255, 0.7);
}

.main-coach-info p {
  margin-top: 0;
  margin-bottom: 0;
}

.main-coach-info p:not(:last-child) {
  margin-bottom: 5px;
}

/* assistants list */
.trainers-section-h2 {
  color: #f3f0f0;
  text-align: center;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 50px;
}

.assistants-list {
  list-style-type: none;
  list-style-position: outside;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.assistant-card {
  width: calc(100% / 2);
  padding: 0 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.assistants-list li:nth-child(-n + 2) {
  margin-bottom: 35px;
}

.assistants-list li:nth-child(n + 5) {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.3s ease-in-out;
  transition: max-height 0.3s ease-in-out;
}

.assistants-list li:nth-child(odd)::after {
  content: '';
  width: 1px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
  top: 30%;
  right: 0;
}

.assistants-list-img-wrapper {
  width: 100%;
  padding-bottom: 100%;
  margin-bottom: 15px;
  position: relative;
}

.perfect-square {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}

.assistants-list-img {
  width: 100%;
}

.assistant-info-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.assistant-name {
  font-size: 15px;
  line-height: 120%;
  color: #f3f0f0;
  margin-top: 0;
  margin-bottom: 5px;
}

.assistant-text {
  color: rgba(255, 255, 255, 0.3);
  font-size: 12px;
  line-height: 120%;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}

.assistants-list-arrow {
  margin: 0 auto;
  background-color: transparent;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.icon-arrow-down {
  height: 20px;
  width: 20px;
  fill: #f3f0f0;
  cursor: auto;
}

/* Players List */
.table-head {
  color: rgba(255, 255, 255, 0.3);
  font-weight: 600;
  font-size: 12px;
  line-height: 120%;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.table-head div {
  padding-bottom: 20px;
}

.players-list {
  list-style-type: none;
  list-style-position: outside;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}

.players-list > li:not(:last-child) {
  margin-bottom: 10px;
}

.table-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 15px;
  color: #f3f0f0;
  text-transform: uppercase;
}

.table-data-container {
  padding-top: 15px;
  padding-bottom: 10px;
}

.table-data.bordered {
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.table-data {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
}

.table-data-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.random .table-data-container,
.random .table-data-arrow {
  background-color: rgba(196, 196, 196, 0.08);
}

.table-info .more-info-column {
  cursor: pointer;
}

.number-column {
  width: 10%;
}

.name-column {
  width: 40%;
}

.position-column {
  width: 35%;
}

.more-info-column {
  width: 15%;
}

.player-number {
  font-weight: 600;
  font-size: 12px;
}

.arrow-angle {
  width: 19px;
  height: 11px;
  stroke: #f3f0f0;
  stroke-opacity: 0.7;
  fill: transparent;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* table accordion part */
.active.accordion .arrow-angle,
.more-info-column:hover .arrow-angle {
  stroke: #c94632;
  fill: #c94632;
}

.panel {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: max-height 0.25s ease-out, opacity 0.3s ease-in-out 0.1s;
  transition: max-height 0.25s ease-out, opacity 0.3s ease-in-out 0.1s;
}

/*    /table accordion part */
.additional-column {
  display: none;
}

.player-list-inner-card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 30px 0 45px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  background-color: rgba(39, 38, 38, 0.2);
}

.slider-wrapper {
  width: 40%;
  margin-left: 10%;
  outline: 1px solid orangered;
  position: relative;
}

.slider-slide {
  width: 100%;
  height: 170px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider-slide img {
  -o-object-fit: cover;
     object-fit: cover;
}

.player-data {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: 1px solid orangered;
}

.player-data-label {
  font-weight: bold;
  font-size: 12px;
  line-height: 120%;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.3);
  margin-top: 0;
  margin-bottom: 10px;
}

.player-data-value {
  font-size: 15px;
  line-height: 120%;
  margin: 0;
}

.player-data-value.margin {
  margin-bottom: 20px;
}

.player-info-heading {
  display: none;
}

.player-info-wrapper {
  margin-top: 45px;
  margin-bottom: 30px;
  margin-left: 10%;
  margin-right: 10px;
}

.player-info {
  text-align: left;
  font-size: 15px;
  line-height: 120%;
  text-transform: none;
  margin: 0;
}

.player-social-links {
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 30px;
  margin: 0;
}

.player-social-links li {
  margin-left: 20px;
}

.player-social-links a {
  display: inline-block;
}

.icon-vk.light.player {
  width: 34px;
  height: 25px;
  fill: #f3f0f0;
  fill-opacity: 0.15;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-instagram.light.player {
  width: 25px;
  height: 25px;
  fill: #f3f0f0;
  fill-opacity: 0.15;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.player-social-links a:hover .icon-vk,
.player-social-links a:hover .icon-instagram {
  fill: #c94632;
  fill-opacity: 1;
}

.dummy-player-arrow {
  display: none;
}

@media only screen and (min-width: 668px) {
  .container {
    min-width: 668px;
  }
  .mobile-element {
    display: none;
  }
  .tablet-element {
    display: block;
  }
  section {
    margin-bottom: 20%;
  }
  .main-cover,
  .about-us,
  .news-section,
  .afiche-section,
  .sponsors-section,
  .footer-container {
    padding-left: 20px;
    padding-right: 20px;
  }
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 44px;
    padding-left: 0;
  }
  /* TEAMLIST */
  /* trainer */
  .teamlist-main-container {
    padding-top: 150px;
  }
  .trainers-section {
    padding: 0 20px;
  }
  .trainers-section-h1 {
    max-width: 70%;
    margin: 0;
  }
  .icon-vk.light,
  .icon-youtube.light,
  .icon-instagram.light {
    width: 22px;
    height: 16px;
    fill: #ffffff;
  }
  .main-coach-card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: left;
    padding: 0;
    margin-bottom: 100px;
  }
  .main-coach-img-info-wrapper {
    position: relative;
    width: 30%;
    margin-left: 5%;
  }
  .main-coach-header-wrapper {
    text-align: left;
    max-width: 27%;
    margin-bottom: 0;
  }
  .main-coach-h2 {
    margin-top: 0;
    font-size: 34px;
  }
  /* .main-coach-img-wrapper {
    margin: 0 50px;
  } */
  .main-coach-info {
    min-width: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translate(125%, -50%);
            transform: translate(125%, -50%);
  }
  .main-coach-info p {
    margin-top: 0;
  }
  .main-coach-info p:last-child {
    margin-bottom: 0;
  }
  .assistants-block-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .trainers-section-h2 {
    font-size: 34px;
    text-align: left;
    padding-left: 35px;
  }
  .assistants-wrapper {
    max-width: 72%;
  }
  .assistants-list {
    margin-bottom: 0;
  }
  .assistants-list-arrow {
    margin: 0;
    padding-left: 0;
  }
  .icon-arrow-long-down {
    width: 10px;
    height: 340px;
    fill: #f3f0f0;
  }
  .assistants-list li:nth-child(odd)::after {
    height: 30px;
  }
  /* players */
  .additional-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .table-head div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .number-column {
    width: 10%;
  }
  .name-column {
    width: 30%;
  }
  .position-column {
    width: 25%;
  }
  .age-column {
    width: 10%;
  }
  .height-column {
    width: 15%;
  }
  .more-info-column {
    width: 10%;
  }
  .player-info-heading {
    display: block;
    text-align: left;
    font-size: 20px;
    line-height: 120%;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
  }
  .player-info {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 1000px) {
  .container {
    max-width: 1000px;
  }
  .mobile-element {
    display: none;
  }
  .desktop-element {
    display: block;
  }
  main {
    padding-top: 0;
  }
  h1 {
    font-size: 68px;
  }
  h2 {
    font-size: 48px;
  }
  /* TEAMLIST PAGE */
  .trainers-section-h1 {
    max-width: 67%;
  }
  .social-icons-dt-wrapper.teamlist {
    margin-bottom: 150px;
  }
  .trainers-heading {
    padding-left: 20px;
    padding-right: 20px;
  }
  .icon-vk.light,
  .icon-youtube.light,
  .icon-instagram.light {
    width: 24px;
    height: 19px;
  }
  .social-icons-tbl-container .light-text {
    color: #f3f0f0;
  }
  /* trainers */
  .trainers-section {
    padding: 0 145px 125px 80px;
  }
  .coach-assistants-dt-wrapper {
    padding-top: 125px;
  }
  .main-coach-card {
    margin-bottom: 110px;
  }
  .main-coach-header-wrapper {
    width: 230px;
  }
  .main-coach-h2 {
    margin-bottom: 25px;
  }
  .main-coach-img-info-wrapper {
    width: 200px;
    height: 200px;
    margin-left: 47px;
  }
  .main-coach-img-wrapper {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .main-coach-info {
    right: -35px;
  }
  .assistants-wrapper {
    width: 75%;
    max-width: 545px;
  }
  .assistant-text {
    font-size: 15px;
  }
  .icon-arrow-long-down {
    height: 314px;
    cursor: auto;
  }
  /* players */
  .players-section {
    padding-top: 45px;
    padding-bottom: 200px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .table-head {
    font-size: 18px;
    color: #f3f0f0;
  }
  .table-info {
    font-size: 18px;
  }
  .additional-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .number-column {
    width: 60px;
  }
  .player-number {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    background-color: transparent;
    font-size: 18px;
    font-weight: 400;
  }
  .random .number-column {
    background-color: transparent;
  }
  .player-number.bordered {
    border: none;
  }
  .name-column {
    width: 230px;
  }
  .position-column {
    width: 205px;
  }
  .age-column {
    width: 150px;
  }
  .height-column {
    width: 190px;
  }
  .more-info-column {
    width: 100%;
    max-width: 125px;
  }
  .player-list-inner-card-wrapper {
    margin-left: 65px;
    width: calc(100% - 70px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding: 60px 0 120px;
  }
  .slider-wrapper {
    margin-left: 0;
    width: 225px;
    max-height: 170px;
    padding: 0 8px;
  }
  .slider-slide {
    max-height: 170px;
  }
  .player-data {
    display: none;
  }
  .player-info-wrapper {
    max-width: 485px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 60px;
    margin-right: 0;
    position: relative;
  }
  .player-info {
    font-size: 16px;
  }
  .player-social-links {
    width: 120px;
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .player-social-links li {
    margin-left: 0;
  }
  .player-social-links li:not(:last-child) {
    margin-bottom: 15px;
  }
  .icon-instagram.light.player {
    width: 31px;
    height: 31px;
  }
  .dummy-player-arrow {
    display: block;
    position: absolute;
    bottom: -55px;
  }
  .icon-arrow-down.dummy {
    width: 6px;
    height: 16px;
    fill: rgba(255, 255, 255, 0.2);
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1349px) {
  /* assistants orientation */
  .assistant-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 0 0 37px;
  }
  .assistants-list-img-wrapper {
    width: 100px;
    height: 100px;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .assistant-info-wrapper {
    width: 115px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .assistants-list li:nth-child(odd)::after {
    width: 0;
    height: 0;
  }
  .assistants-list li:nth-child(n + 3)::before {
    content: '';
    width: 15px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: -16px;
    left: 80px;
  }
}

@media only screen and (min-width: 1350px) {
  .container {
    max-width: 1240px;
  }
  .desktop-element {
    display: block;
  }
  h1 {
    font-size: 76px;
  }
  h2 {
    font-size: 62px;
  }
  section {
    margin-bottom: 200px;
  }
  /* TEAMLIST */
  .teamlist-main-container {
    padding-top: 255px;
  }
  .coach-assistants-dt-wrapper {
    padding-bottom: 66px;
  }
  .main-coach-header-wrapper {
    max-width: unset;
  }
  .main-coach-img-info-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 290px;
    height: auto;
    text-align: center;
  }
  .main-coach-info {
    position: static;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  .coach-assistants-dt-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
  .trainers-section {
    padding: 0 20px;
  }
  .assistants-list-arrow {
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .main-coach-card {
    width: 580px;
    margin-right: 200px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main-coach-h2 {
    font-size: 38px;
  }
  .main-coach-name {
    font-size: 22px;
  }
  .assistants-block-wrapper {
    max-width: 420px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .assistants-wrapper {
    width: 100%;
  }
  .trainers-section-h2 {
    padding-left: 0;
    font-size: 38px;
  }
  .assistants-list li:nth-child(odd) {
    margin-right: 50px;
  }
  .assistants-list li:nth-child(even) {
    margin-left: 50px;
  }
  .assistant-card {
    width: calc((100% - 2 * 50px) / 2);
    padding: 0;
    text-align: center;
  }
  .main-coach-img-wrapper {
    margin: 0 0 20px 0;
  }
  .icon-arrow-long-down {
    display: none;
  }
  .icon-arrow-down-dt {
    display: block;
    width: 12px;
    height: 36px;
  }
  .assistants-list li:nth-child(odd)::after {
    height: 100px;
    top: 15%;
    right: -50px;
  }
  .players-section {
    padding: 190px 0 205px;
  }
  .trainers-section-h1 {
    max-width: 74%;
    font-size: 110px;
  }
  .social-icons-dt-wrapper {
    margin-bottom: 150px;
  }
  .social-icons-dt-wrapper.about {
    margin-bottom: 100px;
  }
  .social-icons-dt-wrapper.media {
    margin-bottom: 250px;
  }
  .table-head {
    font-size: 20px;
    position: relative;
    left: -35px;
  }
  .players-list {
    position: relative;
    left: -35px;
  }
  .table-info {
    font-size: 20px;
  }
  .number-column {
    width: 56px;
  }
  .name-column {
    width: 310px;
  }
  .position-column {
    width: 270px;
  }
  .age-column {
    width: 200px;
  }
  .height-column {
    width: 255px;
  }
  .more-info-column {
    width: 100%;
    max-width: 155px;
  }
  .player-list-inner-card-wrapper {
    padding: 45px 0 65px;
    margin-left: 66px;
    width: calc(100% - 76px);
  }
  .slider-wrapper {
    width: 300px;
    max-height: 185px;
    padding: 0 20px;
  }
  .slider-slide {
    max-height: 185px;
  }
  .player-info-wrapper {
    margin-left: 85px;
    max-width: 640px;
    width: 640px;
  }
  .player-info {
    max-width: 620px;
  }
  .player-social-links {
    width: 138px;
  }
  .dummy-player-arrow {
    bottom: -5px;
  }
}

.splide__pagination {
  position: absolute;
  top: 102%;
  left: 0;
  width: 100%;
  padding-left: 0;
}

.splide__pagination li:not(:last-child) {
  margin-right: 6px;
}

.splide__pagination__page {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  padding: 0;
  background: #403e3e;
}

.splide__pagination__page.is-active {
  width: 6px;
  height: 6px;
  background-color: #c94632;
}

@media only screen and (min-width: 1000px) {
  .splide__pagination {
    top: 106%;
  }
  .splide__pagination li:not(:last-child) {
    margin-right: 8px;
  }
  .splide__pagination__page {
    width: 6px;
    height: 6px;
  }
  .splide__pagination__page.is-active {
    width: 9px;
    height: 9px;
  }
}
/*# sourceMappingURL=table.css.map */