img {
  width: 100%;
  height: auto;
  display: block;
}
.container {
  margin: 0 auto;
  padding: 50px 20px;

  h2 {
    font-weight: 800;
    font-size: 46px;
    line-height: 130%;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }

  @media screen and (min-width: 1360px) {
    max-width: 1090px;
  }
}
.review-article {
  padding: 20px;

  @media screen and (min-width: 1360px) {
    padding: 50px 80px;
    display: flex;
  }
}
.reviews-wrapper {
  margin-right: 40px;
}
.reviews-img-frame {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
}
.reviews-person {
  h3 {
    margin-top: 0;
    margin-bottom: 10px;
  }
}
.reviews-person-graduating {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.08em;
  color: #b9b9b9;
}
.reviews-person-text {
  margin: 0;
}
.cuttr__readmore {
  border: none;
  outline-color: orangered;
  padding: 0;
  background-color: transparent;
  border-bottom: 1px solid orangered;
  color: orangered;
  cursor: pointer;
}

.review-slider {
  display: flex;
  margin-bottom: 40px;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);

  .slick-slide {
    outline: none;
  }
}
.slick-slide {
  outline: none;
}
.slick-prev,
.slick-next {
  position: absolute;
  z-index: 1;
  border: none;
  outline-color: orangered;
  background-color: transparent;
  padding: 10px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin-top: 150px;
}
.slick-prev {
  left: -20px;
}
.slick-next {
  right: -20px;
}
.icon-arrow-left,
.icon-arrow-right {
  width: 20px;
  height: 10px;
  fill: orangered;
}

.review-second-slider {
  display: flex;
  width: 190px;
  margin: 0 auto;
  outline: 1px solid orangered;

  .slick-list {
    width: 190px;
  }

  .slick-slide {
    cursor: pointer;
  }

  .slick-prev {
    left: -40px;
    margin-top: 0;
  }
  .slick-next {
    right: -40px;
    margin-top: 0;
  }

  @media screen and (min-width: 1360px) {
    width: 600px;

    .slick-list {
      width: 600px;
    }
  }
}
.second-slider-img-box {
  max-width: 54px;
  max-height: 54px;
  border: 1px solid transparent;
  border-radius: 50px;
  overflow: hidden;
  margin-left: 5px;
  margin-right: 5px;

  img {
    object-position: 50% 50%;
  }

  @media screen and (min-width: 1360px) {
    margin-left: 31px;
    margin-right: 0;
  }
}
.review-second-slider .slick-current {
  border: 1px solid orangered;
}
