/* background */
$c-light: #f3f0f0;
$c-dark: #303135;

$c-dark-black: #151515;
$c-dark-gray: #303135;

$c-transparent-dark: rgba(196, 196, 196, 0.08);
$c-dark-list: rgba(39, 38, 38, 0.2);

$c-gray: rgba(50, 43, 43, 0.7);
$c-gray-light: rgba(57, 43, 73, 0.4);

/* $c-accent-bg: rgba(201, 70, 50, 0.9); */

/* text */
$txt-c-accent: #c94632;
$txt-c-dark: #303135;
$txt-c-light: #f3f0f0;

$txt-c-gray: rgba(50, 43, 43, 0.7);
$txt-c-gray-light: rgba(57, 43, 73, 0.4);
$txt-c-white-transparent: rgba(255, 255, 255, 0.7);
$txt-c-white-more-transparent: rgba(255, 255, 255, 0.3);

/* modals */
$modal-bgd-gray: rgba(40, 38, 38, 0.61);
$modal-bgd-light: #f3f0f0;

/* font */
$font-main: 'Proxima Nova', sans-serif;

/* container width */
$vertical-scroll: 20px;
$mobile: 340px;
$tablet: 668px;
$desktop: 1000px;
$desktop-lg: 1350px;

/* animation */
$animation-fast: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
$animation-slow: all 350ms cubic-bezier(0.4, 0, 0.2, 1);
$animation-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $font-main;
  color: $txt-c-dark;
  box-sizing: border-box;
  background: $c-light;
  margin: 0 auto;
  overflow-y: scroll;
}

/* COMMON */

.tablet-element {
  display: none;
}
.desktop-element {
  display: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}
svg {
  cursor: pointer;
}
.container {
  margin-right: auto;
  margin-left: auto;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
